// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2023 Luckfox Electronics Co., Ltd.
 */

/dts-v1/;

#include "rv1103.dtsi"
#include "rv1106-evb.dtsi"
#include "rv1103-luckfox-pico-ipc.dtsi"

/ {
	model = "Luckfox Pico Mini";
	compatible = "rockchip,rv1103g-38x38-ipc-v10", "rockchip,rv1103";
};

/**********SFC**********/
&sfc {
	status = "okay";
	flash@0 {
		compatible = "spi-nand";
		reg = <0>;
		spi-max-frequency = <75000000>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <1>;
	};
};

/**********SDMMC**********/
&sdmmc {
	max-frequency = <50000000>;
	no-mmc;
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	disable-wp;
	
	//sdio
	cap-sdio-irq;
	non-removable;	
	no-1-8-v;
	supports-sdio;

	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc0_clk &sdmmc0_cmd &sdmmc0_det &sdmmc0_bus4>;
	status = "okay";
};

/**********ETH**********/
&gmac {
	status = "disabled";
};

/**********USB**********/
&usbdrd_dwc3 {
	status = "okay";
	dr_mode = "peripheral";
};

/**********SPI**********/
/* SPI0_M0 */
&spi0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&spi0m0_clk &spi0m0_miso &spi0m0_mosi &spi0m0_cs0 &spi0_cs1_gpio>;
	cs-gpios = <0>, <&gpio0 RK_PA4 GPIO_ACTIVE_LOW>;
	num-cs = <2>;

	spidev@1 {
		compatible = "rockchip,spidev";
		spi-max-frequency = <50000000>;
		reg = <1>;
	};
};

/**********I2C**********/
/* I2C3_M1 */
&i2c3 {
	status = "okay";
	clock-frequency = <100000>;
};

/**********UART**********/
/* UART3_M1 */
&uart3 {
	status = "disabled";
};

/* UART4_M1 */
&uart4 {
	status = "disabled";
};

/**********PWM**********/
/* PWM1_M0 */
&pwm1 {
	status = "disabled";
};

/**********GPIO**********/
&gpio1 {
	pinctrl-names = "default";
	pinctrl-0 = <&gpio1_d1_gpio &gpio1_c4_gpio &gpio1_c5_gpio
		     &gpio1_c6_gpio &gpio1_c7_gpio>;
};

/********** Disable Camera/CSI/ISP - Mini B has no camera **********/
&i2c4 {
	status = "disabled";
};

&csi2_dphy_hw {
	status = "disabled";
};

&csi2_dphy0 {
	status = "disabled";
};

&mipi0_csi2 {
	status = "disabled";
};

&rkcif {
	status = "disabled";
};

&rkcif_mipi_lvds {
	status = "disabled";
};

&rkcif_mipi_lvds_sditf {
	status = "disabled";
};

&rkisp {
	status = "disabled";
};

&rkisp_vir0 {
	status = "disabled";
};

/********** Disable unused multimedia blocks **********/
&npu {
	status = "disabled";
};

&rkvenc {
	status = "disabled";
};

&rkvenc_pp {
	status = "disabled";
};

&rve {
	status = "disabled";
};

&rkdvbm {
	status = "disabled";
};

&rga2 {
	status = "disabled";
};

&gpio4 {
	pinctrl-names = "default";
	pinctrl-0 = <&gpio4_c0_gpio &gpio4_c1_gpio>;
};

&pinctrl {
	spi0-cs1-gpio {
		spi0_cs1_gpio: spi0-cs1-gpio {
			rockchip,pins = <0 RK_PA4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	luckfox-mini-b-gpio {
		gpio1_d1_gpio: gpio1-d1-gpio {
			rockchip,pins = <1 RK_PD1 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		gpio4_c0_gpio: gpio4-c0-gpio {
			rockchip,pins = <4 RK_PC0 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		gpio4_c1_gpio: gpio4-c1-gpio {
			rockchip,pins = <4 RK_PC1 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		gpio1_c6_gpio: gpio1-c6-gpio {
			rockchip,pins = <1 RK_PC6 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		gpio1_c7_gpio: gpio1-c7-gpio {
			rockchip,pins = <1 RK_PC7 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		gpio1_c5_gpio: gpio1-c5-gpio {
			rockchip,pins = <1 RK_PC5 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		gpio1_c4_gpio: gpio1-c4-gpio {
			rockchip,pins = <1 RK_PC4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};
